# Agenda

1. Data structures
2. Functions
    - Arguments and parameters
    - Bytecodes
    - Scoping
    - Inner functions
    - Type hints/annotations + Mypy
3. Objects
    - Class, instance, method
    - Attributes -- ICPO
    - Inheritance
    - Magic methods
    - Properties + descriptors
    - Memory management + objects
4. Iterators and generators
5. Concurrency -- thread, processes, asyncio
6. pytest

# Assignment

In [2]:
x = 5
print(x)

5

In [3]:
type(x)

int

In [4]:
x = 'abcd'
type(x)

str

In [5]:
x = 10
y = x   

x = 20
print(y)

10

In [6]:
x = 10
id(x)

4387289840

In [7]:
x += 1  
id(x)

4387289872

In [ ]:
x = [10, 20, 30]
y = x

x[0] = 999
print(y)

x.append(40)
print(y)

In [8]:
# I can ask if two values are equal

x = 10
y = 10

x == y

True

In [9]:
# are they  the same object?

x is y     # id(x) == id(y)

True

In [10]:
x = 1000
y = 1000

x == y

True

In [11]:
x is y

False

In [12]:
x = None

if x == None:    # not Pythonic!
    print('Yes, it is None!')

Yes, it is None!

In [13]:
if x is None:   
    print('Yes, it is None')

Yes, it is None

In [14]:
x = 'abcd'
y = 'abcd'

x == y

True

In [15]:
x is y

True

In [16]:
x = 'ab.cd'
y = 'ab.cd'

x == y

True

In [17]:
x is y

False

In [18]:
i = 10

In [19]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '2+3',
  'x = 5\nprint(x)',
  'type(x)',
  "x = 'abcd'\ntype(x)",
  'x = 10\ny = x   \n\nx = 20\nprint(y)',
  'x = 10\nid(x)  ',
  'x += 1  \nid(x)',
  '# I can ask if two values are equal\n\nx = 10\ny = 10\n\nx == y ',
  '# are they  the same object?\n\nx is y     # id(x) == id(y)',
  'x = 1000\ny = 1000\n\nx == y',
  'x is y',
  "x = None\n\nif x == None:\n    print('Yes, it is None!')",
  "if x is None:   \n    print('Yes, it is None')",
  "x = 'abcd'\ny = 'abcd'\n\nx == y",
  'x is y',
  "x = 'ab.cd'\ny = 'ab.cd'\n\nx == y",
  'x is y',
  'i = 10',
  'globals()'],
 '_oh': {1: 5,
  3: int,
  4: str,
  6: 4387289840,
  7: 4387289872,
  8: True,
  9: True,
  10: True,
  11: False,
  14: True,
  15: True,
  16: True,
  17: False},
 '_dh': [PosixPath('/Users/reuven/Courses/Current/arm-2024-q1-arm')],
 'In': ['',
  '2+3',
  'x = 5\nprint(x)',
  'type(x)',
  "x = 'abcd'\ntype(x)",
  'x = 10\ny = x   \n\nx = 20\nprint(y)',
  'x = 10\nid(x)  ',
  'x += 1  \nid(x)',
  '# I can ask if two values are equal\n\nx = 10\ny = 10\n\nx == y ',
  '# are they  the same object?\n\nx is y     # id(x) == id(y)',
  'x = 1000\ny = 1000\n\nx == y',
  'x is y',
  "x = None\n\nif x == None:\n    print('Yes, it is None!')",
  "if x is None:   \n    print('Yes, it is None')",
  "x = 'abcd'\ny = 'abcd'\n\nx == y",
  'x is y',
  "x = 'ab.cd'\ny = 'ab.cd'\n\nx == y",
  'x is y',
  'i = 10',
  'globals()'],
 'Out': {1: 5,
  3: int,
  4: str,
  6: 4387289840,
  7: 4387289872,
  8: True,
  9: True,
  10: True,
  11: False,
  14: True,
  15: True,
  16: True,
  17: False},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x107ae25a0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x107bd3590>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x107bd3590>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': False,
 '__': True,
 '___': True,
 '__session__': '/Users/reuven/Courses/Current/arm-2024-q1-arm/arm - 2024-02February-14.ipynb',
 '_i': 'i = 10',
 '_ii': 'x is y',
 '_iii': "x = 'ab.cd'\ny = 'ab.cd'\n\nx == y",
 '_i1': '2+3',
 '_1': 5,
 '_i2': 'x = 5\nprint(x)',
 'x': 'ab.cd',
 '_i3': 'type(x)',
 '_3': int,
 '_i4': "x = 'abcd'\ntype(x)",
 '_4': str,
 '_i5': 'x = 10\ny = x   \n\nx = 20\nprint(y)',
 'y': 'ab.cd',
 '_i6': 'x = 10\nid(x)  ',
 '_6': 4387289840,
 '_i7': 'x += 1  \nid(x)',
 '_7': 4387289872,
 '_i8': '# I can ask if two values are equal\n\nx = 10\ny = 10\n\nx == y ',
 '_8': True,
 '_i9': '# are they  the same object?\n\nx is y     # id(x) == id(y)',
 '_9': True,
 '_i10': 'x = 1000\ny = 1000\n\nx == y',
 '_10': True,
 '_i11': 'x is y',
 '_11': False,
 '_i12': "x = None\n\nif x == None:\n    print('Yes, it is None!')",
 '_i13': "if x is None:   \n    print('Yes, it is None')",
 '_i14': "x = 'abcd'\ny = 'abcd'\n\nx == y",
 '_14': True,
 '_i15': 'x is y',
 '_15': True,
 '_i16': "x = 'ab.cd'\ny = 'ab.cd'\n\nx == y",
 '_16': True,
 '_i17': 'x is y',
 '_17': False,
 '_i18': 'i = 10',
 'i': 10,
 '_i19': 'globals()'}

In [20]:
x = 'abcd'
id(x)

4425116688

In [23]:
# interning

import sys

id(sys.intern('abcd'))

4425116688

In [24]:
id(sys.intern('abcd'))

4425116688

In [25]:
id(sys.intern('ab.cd'))

4425512256

In [26]:
id(sys.intern('ab.cd'))

4425512256

In [27]:
x = 'ab.cd'
id(x)

4425509040

In [28]:
x = sys.intern('ab.cd')

In [29]:
id(x)

4425512256

In [30]:
import sys
sys.version

'3.12.1 (main, Jan 29 2024, 07:04:51) [Clang 15.0.0 (clang-1500.1.0.2.5)]'

In [31]:
i = 0

sys.getsizeof(i)

28

In [32]:
i = 1
sys.getsizeof(i)

28

In [33]:
i = 1234567890
sys.getsizeof(i)

32

In [34]:
i = i ** 1000

In [35]:
sys.getsizeof(i)

4052

In [36]:
mylist = []
sys.getsizeof(mylist)

56

In [37]:
mylist = [10, 20, 30, 40, 50]
sys.getsizeof(mylist)

104

In [38]:
mylist[0] = 'abcdefghij' * 100_000

In [39]:
sys.getsizeof(mylist)

104

In [40]:
mylist = []

for i in range(30):
    print(f'{i=}, {len(mylist)=}, {sys.getsizeof(mylist)=}')   # format string / fancy string
    mylist.append(i)

i=0, len(mylist)=0, sys.getsizeof(mylist)=56
i=1, len(mylist)=1, sys.getsizeof(mylist)=88
i=2, len(mylist)=2, sys.getsizeof(mylist)=88
i=3, len(mylist)=3, sys.getsizeof(mylist)=88
i=4, len(mylist)=4, sys.getsizeof(mylist)=88
i=5, len(mylist)=5, sys.getsizeof(mylist)=120
i=6, len(mylist)=6, sys.getsizeof(mylist)=120
i=7, len(mylist)=7, sys.getsizeof(mylist)=120
i=8, len(mylist)=8, sys.getsizeof(mylist)=120
i=9, len(mylist)=9, sys.getsizeof(mylist)=184
i=10, len(mylist)=10, sys.getsizeof(mylist)=184
i=11, len(mylist)=11, sys.getsizeof(mylist)=184
i=12, len(mylist)=12, sys.getsizeof(mylist)=184
i=13, len(mylist)=13, sys.getsizeof(mylist)=184
i=14, len(mylist)=14, sys.getsizeof(mylist)=184
i=15, len(mylist)=15, sys.getsizeof(mylist)=184
i=16, len(mylist)=16, sys.getsizeof(mylist)=184
i=17, len(mylist)=17, sys.getsizeof(mylist)=248
i=18, len(mylist)=18, sys.getsizeof(mylist)=248
i=19, len(mylist)=19, sys.getsizeof(mylist)=248
i=20, len(mylist)=20, sys.getsizeof(mylist)=248
i=21, len(mylist)=21, sys.getsizeof(mylist)=248
i=22, len(mylist)=22, sys.getsizeof(mylist)=248
i=23, len(mylist)=23, sys.getsizeof(mylist)=248
i=24, len(mylist)=24, sys.getsizeof(mylist)=248
i=25, len(mylist)=25, sys.getsizeof(mylist)=312
i=26, len(mylist)=26, sys.getsizeof(mylist)=312
i=27, len(mylist)=27, sys.getsizeof(mylist)=312
i=28, len(mylist)=28, sys.getsizeof(mylist)=312
i=29, len(mylist)=29, sys.getsizeof(mylist)=312

In [41]:
t = (10, 20, 30, 40, 50)
sys.getsizeof(t)

80

In [42]:
person = ('Reuven', 'Lerner', 46)

In [43]:
person[0]

'Reuven'

In [44]:
person[1]

'Lerner'

In [45]:
person[2]

46

In [46]:
# namedtuple

from collections import namedtuple

In [47]:
Person = namedtuple('Person', ['first', 'last', 'shoesize'])

In [48]:
type(Person)

type

In [49]:
Person.__bases__

(tuple,)

In [50]:
str.__name__

'str'

In [51]:
list.__name__

'list'

In [52]:
Person.__name__

'Person'

In [53]:
Person.__name__ = 'otherthing'

In [54]:
Person.__name__

'otherthing'

In [55]:
Person = namedtuple('Dog', ['first', 'last', 'shoesize'])

In [56]:
Person.__name__

'Dog'

In [57]:
p = Person('Reuven', 'Lerner', 46)

In [58]:
p[0]

'Reuven'

In [59]:
p[1]

'Lerner'

In [60]:
p[2]

46

In [61]:
p.first

'Reuven'

In [62]:
p.last

'Lerner'

In [63]:
p.shoesize

46

In [64]:
p

Dog(first='Reuven', last='Lerner', shoesize=46)

In [65]:
Person = namedtuple('Person', ['first', 'last', 'shoesize'])

In [66]:
p = Person('Reuven', 'Lerner', 46)

In [67]:
p

Person(first='Reuven', last='Lerner', shoesize=46)

In [68]:
# _replace returns a new tuple
# 
p._replace(first='OtherName')

Person(first='OtherName', last='Lerner', shoesize=46)

# Exercise: Bookstore

1. Define a `Book` class using `namedtuple` with fields `title`, `price`, `author`.
2. Define a list, `inventory`, with 4 instances of `Book`.
3. Ask the user, repeatedly, what book they want to buy.
    - Empty string? Stop asking
    - A book that is in `inventory`? Print all details, and add price to `total`
    - Not there? Scold the user a bit
4. In the end, tell the user the total bill.

In [3]:
from collections import namedtuple

Book = namedtuple('Book', ['title', 'price', 'author'])

# Book = namedtuple('Book', 'title price author')

b1 = Book('title1', 100, 'author1')
b2 = Book('title2', 75, 'author2')
b3 = Book('title3', 150, 'author1')
b4 = Book('title4', 130, 'author2')

inventory = [b1, b2, b3, b4]
total = 0

while True:
    to_buy = input('Enter book: ').strip()

    # if to_buy == '':   # not Pythonic
    #     break

    if not to_buy:
        break

    found_book = False
    for one_book in inventory:
        if one_book.title == to_buy:
            total += one_book.price
            print(f'{to_buy} by {one_book.author} costs {one_book.price}; total is now {total}')
            found_book = True

    if not found_book:
        print(f'Did not find {to_buy}')

print(total)

Enter book:  title1

title1 by author1 costs 100; total is now 100

Enter book:  tiel123512

Did not find tiel123512

Enter book:

100

In [4]:
# version using for-else

from collections import namedtuple

Book = namedtuple('Book', ['title', 'price', 'author'])

# Book = namedtuple('Book', 'title price author')

b1 = Book('title1', 100, 'author1')
b2 = Book('title2', 75, 'author2')
b3 = Book('title3', 150, 'author1')
b4 = Book('title4', 130, 'author2')

inventory = [b1, b2, b3, b4]
total = 0

while True:
    to_buy = input('Enter book: ').strip()

    if not to_buy:
        break

    found_book = False
    for one_book in inventory:
        if one_book.title == to_buy:
            total += one_book.price
            print(f'{to_buy} by {one_book.author} costs {one_book.price}; total is now {total}')
            break

    else:
        print(f'Did not find {to_buy}')

print(total)

Enter book:  title1

title1 by author1 costs 100; total is now 100

Enter book:  title2

title2 by author2 costs 75; total is now 175

Enter book:  titleq3145325

Did not find titleq3145325

Enter book:

175

In [7]:
from collections import namedtuple

Book = namedtuple('Book', ['title', 'price', 'author'])

# Book = namedtuple('Book', 'title price author')

b1 = Book('title1', 100, 'author1')
b2 = Book('title2', 75, 'author2')
b3 = Book('title3', 150, 'author1')
b4 = Book('title4', 130, 'author2')

inventory = [b1, b2, b3, b4]
total = 0

# := is officially assignment expression operator
# walrus

while to_buy := input('Enter book: ').strip():

    for one_book in inventory:
        if one_book.title == to_buy:
            total += one_book.price
            print(f'{to_buy} by {one_book.author} costs {one_book.price}; total is now {total}')
            break

    else:
        print(f'Did not find {to_buy}')

print(total)

Enter book:  title1

title1 by author1 costs 100; total is now 100

Enter book:  titleasdfa

Did not find titleasdfa

Enter book:

100

In [6]:
x := 5

SyntaxError: invalid syntax (4101523498.py, line 1)

In [8]:
x = 10
y = 20

print(f'{x} + {y} = {x+y}')

10 + 20 = 30

In [9]:
print('{x} + {y} = {x+y}')

{x} + {y} = {x+y}

# Dictionaries

1. Hash table
2. Every key has a value, every value has a key
3. Every key has to be hashable (more or less immutable)
4. Lookup of a key is O(1) + epsilon

In [10]:
d = {'a':10, 'b':20, 'c':30}

# search the keys with "in"
'c' in d

True

In [11]:
# don't use dict.keys for searching/looping
'c' in d.keys()

True

In [12]:
for key in d.keys():
    print(f'{key}: {d[key]}')

a: 10
b: 20
c: 30

In [15]:
# we can iterate on the dict, and get the keys

for key in d:
    print(f'{key}: {d[key]}')

a: 10
b: 20
c: 30

In [16]:
list(d)

['a', 'b', 'c']

In [18]:
# we can use dict.values

30 in d.values()     # search is O(n)

True

In [19]:
# dict.items() is a better way to iterate over the keys + values

for t in d.items():
    print(t)

('a', 10)
('b', 20)
('c', 30)

In [21]:
# tuple unpacking

for t in d.items():
    key, value = t     # two variables = two values
    print(f'{key}: {value}')

a: 10
b: 20
c: 30

In [22]:
# tuple unpacking in the for loop

for key, value in d.items():
    print(f'{key}: {value}')

a: 10
b: 20
c: 30

In [23]:
# unpacking 

mylist = [10, 20, 30, 40, 50]

v,w,x,y,z = mylist

In [24]:
v

10

In [25]:
w

20

In [26]:
z

50

In [27]:
x,y = mylist

ValueError: too many values to unpack (expected 2)

In [28]:
a,b,c,d,e,f = mylist

ValueError: not enough values to unpack (expected 6, got 5)

In [29]:
x, *y, z = mylist

In [30]:
x

10

In [31]:
z

50

In [32]:
y

[20, 30, 40]

In [33]:
w,x,*y, z = mylist

In [34]:
w

10

In [35]:
x

20

In [36]:
y

[30, 40]

In [37]:
z

50

In [38]:
*w,x,y, z = mylist

In [39]:
w

[10, 20]

In [40]:
x

30

In [41]:
hash('a')

8450858394419656295

In [42]:
hash('b')

-9047225283332092375

# Old-style dicts

1. Started with 8 locations in memory
2. When we want to store in the dict, Python runs `hash(key) % len(d)`
3. When we get to 2/3 fullness, we double the dict size
4. Collision -- jump to next place, then all around via a function

# New-style dicts

1. Two data structures behind the scenes
    - A table that starts with zero lines, and grows -- index (starting at 0), key, value
    - A C array that starts with 8 locations
2. If we want to write to the dict, we write the new key-value pair to the table. We calculate `hash(key) % len(array)`, and write to that location in the array the index of the table.
3. To retrieve from our dict:
    - `hash(key) % len(array)` gives us the array index
    - The item in the array tells us where to grab the value from the table

In [43]:
d = {'a':10, 'b':20, 'c':30}

d['a']

10

In [44]:
d['x']

KeyError: 'x'

In [45]:
# what if I want to avoid the error?

d.get('x')     # get None back if it doesn't exist

In [46]:
d.get('x', 'Sorry, no x here!')

'Sorry, no x here!'

In [47]:
d

{'a': 10, 'b': 20, 'c': 30}

In [48]:
# I want to assign this pair to the dict, but only if 'c' doesn't exist as a key
# d['c'] = 999

d.setdefault('c', 999)

30

In [49]:
d

{'a': 10, 'b': 20, 'c': 30}

In [50]:
d.setdefault('x', 888)
d

{'a': 10, 'b': 20, 'c': 30, 'x': 888}

In [51]:
# set up a new dict with known keys and all values being 0

d = dict.fromkeys('xyz', 0)
d

{'x': 0, 'y': 0, 'z': 0}

In [54]:
d = dict.fromkeys('this that the_other'.split(), 0)
d

{'this': 0, 'that': 0, 'the_other': 0}

In [55]:
d = dict.fromkeys('xyz', [])
d

{'x': [], 'y': [], 'z': []}

In [56]:
d['x'].append(10)
d['y'].append(20)

d

{'x': [10, 20], 'y': [10, 20], 'z': [10, 20]}

In [57]:
x = y = 10

x

10

In [58]:
y

10

In [59]:
x = y = []

x.append(10)
y.append(20)

x

[10, 20]

In [60]:
d1 = {'a':10, 'b':20, 'c':30}
d2 = {'c':30, 'b':20, 'a':10}

In [61]:
d1 == d2

True

In [62]:
d = {}
d['a'] = 100
d['x'] = 200
d['b'] = 300
d['d'] = 400

d

{'a': 100, 'x': 200, 'b': 300, 'd': 400}

In [63]:
list(d)

['a', 'x', 'b', 'd']

In [64]:
for key, value in d.items():
    print(f'{key}: {value}')

a: 100
x: 200
b: 300
d: 400

In [65]:
d['a'] = 999
list(d)

['a', 'x', 'b', 'd']

In [66]:
d.pop('a')

999

In [67]:
d['a'] = 777
d

{'x': 200, 'b': 300, 'd': 400, 'a': 777}

In [68]:
from collections import defaultdict

In [69]:
# what about a default dict of 0?

d = defaultdict(0)

TypeError: first argument must be callable or None

In [70]:
# None means: Regular dictionary
# callable: any function or class, which takes 0 arguments
# the result from the callable is assigned, with the key, to the dict

int()

0

In [71]:
d = defaultdict(int)   # default is int(), or 0

In [72]:
d['a']

0

In [73]:
d['b'] += 15

In [74]:
d

defaultdict(int, {'a': 0, 'b': 15})

In [75]:
d['c'] += 1
d

defaultdict(int, {'a': 0, 'b': 15, 'c': 1})

In [76]:
d = defaultdict(dict)

In [77]:
d['a']['b'] = 100

In [78]:
d['c']['d'] = 200
d

defaultdict(dict, {'a': {'b': 100}, 'c': {'d': 200}})

In [79]:
import time

d = defaultdict(time.time)

In [80]:
d['a']   # if we ask for a new key, time.time() runs, its value is stored

1707907802.226869

In [81]:
d['b']

1707907803.9616299

In [82]:
d['c']

1707907806.761536

# Exercise: Travel

1. We'll create a dict in which the keys are strings (country names) and the values are lists (cities ij those countries).
2. Ask the user to enter `city, country` for somewhere they've traveled.
    - Give an error message if you don't get the right format
3. Add to the dictionary's `country` key the value of `city`.
4. When the user gives us an empty string, print each country -- and in each country, print each city.

Example:

    Where have you traveled: Beijing, China
    Where have you traveled: Shanghai, China
    Where have you traveled: Chicago, USA
    Where have you traveled: Boston, USA
    Where have you traveled: [ENTER]

Dict will be

    {'China': ['Beijing', 'Shanghai'],
     'USA': ['Chicago', 'Bostona']}

In [83]:
from collections import defaultdict

In [84]:
list()

[]

In [85]:
mylist = [10, 20, 30]
mylist()

TypeError: 'list' object is not callable

In [88]:
from collections import defaultdict

all_places = defaultdict(list)  

while True:
    print(f'{all_places=}')
    one_place = input('Enter a place: ').strip()

    if not one_place:
        break

    if ',' not in one_place:
        print(f'Bad format!')
        continue

    one_city, one_country = one_place.split(',')
    all_places[one_country.strip()].append(one_city.strip())

all_places=defaultdict(<class 'list'>, {})

Enter a place:  Beijing, China

all_places=defaultdict(<class 'list'>, {'China': ['Beijing']})

Enter a place:  Chicago, USA

all_places=defaultdict(<class 'list'>, {'China': ['Beijing'], 'USA': ['Chicago']})

Enter a place:  London, UK

all_places=defaultdict(<class 'list'>, {'China': ['Beijing'], 'USA': ['Chicago'], 'UK': ['London']})

Enter a place:  Shanghai, China

all_places=defaultdict(<class 'list'>, {'China': ['Beijing', 'Shanghai'], 'USA': ['Chicago'], 'UK': ['London']})

Enter a place:  asdfsafafda

Bad format!
all_places=defaultdict(<class 'list'>, {'China': ['Beijing', 'Shanghai'], 'USA': ['Chicago'], 'UK': ['London']})

Enter a place:

In [89]:
all_places

defaultdict(list,
            {'China': ['Beijing', 'Shanghai'],
             'USA': ['Chicago'],
             'UK': ['London']})

In [91]:
for country, all_cities in all_places.items():
    print(country)
    for one_city in all_cities:
        print(f'\t{one_city}')

China
	Beijing
	Shanghai
USA
	Chicago
UK
	London

In [92]:
# Counter

from collections import Counter

In [93]:
# we can think of Counter as defaultdict(int)

c = Counter()
c['a'] += 1
c['b'] += 5
c

Counter({'b': 5, 'a': 1})

In [94]:
#  don't do this!

# instead, create Counter with an iterable of hashables 

c = Counter([10, 20, 30, 40, 20, 30, 40, 20, 30])
c

Counter({20: 3, 30: 3, 40: 2, 10: 1})

In [95]:
list(c)

[10, 20, 30, 40]

In [96]:
c.most_common()

[(20, 3), (30, 3), (40, 2), (10, 1)]

In [97]:
c.most_common(2)

[(20, 3), (30, 3)]

In [98]:
c2 = Counter([20, 30, 40])
c | c2

Counter({20: 3, 30: 3, 40: 2, 10: 1})

In [99]:
c

Counter({20: 3, 30: 3, 40: 2, 10: 1})

In [100]:
c & c2

Counter({20: 1, 30: 1, 40: 1})

In [101]:
c + c2

Counter({20: 4, 30: 4, 40: 3, 10: 1})

In [102]:
c = Counter(open('/Users/reuven/Courses/Current/data/alice-in-wonderland.txt').read())

In [103]:
c

Counter({' ': 12387,
         'e': 6671,
         't': 5152,
         'o': 4242,
         'a': 4058,
         'i': 3547,
         'n': 3530,
         'h': 3122,
         'r': 3111,
         's': 3057,
         'd': 2245,
         'l': 2221,
         '\n': 1702,
         'u': 1634,
         'c': 1435,
         'g': 1230,
         'w': 1165,
         'm': 1064,
         'f': 1061,
         'y': 985,
         ',': 927,
         'p': 849,
         'b': 742,
         '"': 710,
         '.': 621,
         'k': 509,
         'v': 389,
         'I': 375,
         'A': 352,
         '-': 287,
         "'": 260,
         'T': 241,
         'E': 187,
         '!': 176,
         'S': 159,
         '_': 150,
         'P': 140,
         'R': 133,
         'j': 129,
         'G': 122,
         'D': 120,
         'O': 116,
         'N': 113,
         'W': 103,
         'C': 100,
         'F': 92,
         'H': 92,
         'L': 90,
         'M': 79,
         ';': 78,
         '?': 70,
         'x': 70,
         '1': 64,
         'B': 62,
         'q': 62,
         'Y': 58,
         'U': 53,
         'K': 42,
         ':': 40,
         'z': 34,
         'Q': 34,
         '*': 33,
         '(': 33,
         ')': 33,
         '/': 31,
         '[': 27,
         ']': 27,
         '0': 24,
         '3': 21,
         'V': 20,
         '9': 15,
         'J': 14,
         '5': 12,
         '8': 11,
         '2': 10,
         '6': 9,
         '4': 9,
         '7': 6,
         'X': 4,
         '&': 2,
         '@': 2,
         '$': 2,
         '\ufeff': 1,
         '#': 1,
         '': 1,
         '%': 1})

In [104]:
c.most_common(10)

[(' ', 12387),
 ('e', 6671),
 ('t', 5152),
 ('o', 4242),
 ('a', 4058),
 ('i', 3547),
 ('n', 3530),
 ('h', 3122),
 ('r', 3111),
 ('s', 3057)]

# Functions

In [105]:
s = 'abcd'
x = len(s)

type(x)

int

In [106]:
x

4

In [107]:
x = s.upper()
type(x)

str

In [108]:
x

'ABCD'

In [109]:
x = s.upper

In [110]:
x

In [111]:
type(x)

builtin_function_or_method

In [112]:
x()

'ABCD'

In [113]:
d = {'a':10, 'b':20, 'c':30}

for key, value in d.items():
    print(f'{key}: {value}')

a: 10
b: 20
c: 30

In [114]:
# this fails
for key, value in d.items:
    print(f'{key}: {value}')

TypeError: 'builtin_function_or_method' object is not iterable

In [116]:
# When I use def, two things happen:
# (1) I create a function object
# (2) I assign the function object to the variable myfunc

def myfunc():
    return 5

type(myfunc)

function

In [117]:
myfunc()

5

In [118]:
def myfunc(x):
    return f'Hello, {x}'

myfunc(10)

'Hello, 10'

In [119]:
# no arguments
myfunc()

TypeError: myfunc() missing 1 required positional argument: 'x'

In [120]:
# function object

def myfunc():
    print("Hello!")

In [121]:
type(myfunc)

function

In [122]:
# attributes - names that come after a .

myfunc.__code__    # "dunder code" -- "double underscore before and after code"

In [123]:
dir(myfunc.__code__)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_co_code_adaptive',
 '_varname_from_oparg',
 'co_argcount',
 'co_cellvars',
 'co_code',
 'co_consts',
 'co_exceptiontable',
 'co_filename',
 'co_firstlineno',
 'co_flags',
 'co_freevars',
 'co_kwonlyargcount',
 'co_lines',
 'co_linetable',
 'co_lnotab',
 'co_name',
 'co_names',
 'co_nlocals',
 'co_positions',
 'co_posonlyargcount',
 'co_qualname',
 'co_stacksize',
 'co_varnames',
 'replace']

In [124]:
myfunc.__code__.co_varnames

()

In [125]:
# byte codes!

myfunc.__code__.co_code

b'\x97\x00t\x01\x00\x00\x00\x00\x00\x00\x00\x00d\x01\xab\x01\x00\x00\x00\x00\x00\x00\x01\x00y\x00'

In [126]:
import dis

In [127]:
dis.dis(myfunc)

  3           0 RESUME                   0

  4           2 LOAD_GLOBAL              1 (NULL + print)
             12 LOAD_CONST               1 ('Hello!')
             14 CALL                     1
             22 POP_TOP
             24 RETURN_CONST             0 (None)

In [128]:
myfunc()

Hello!

In [129]:
myfunc.__code__.co_consts

(None, 'Hello!')

In [130]:
def hello(name):
    return f'Hello, {name}!'

In [131]:
dis.dis(hello)

  1           0 RESUME                   0

  2           2 LOAD_CONST               1 ('Hello, ')
              4 LOAD_FAST                0 (name)
              6 FORMAT_VALUE             0
              8 LOAD_CONST               2 ('!')
             10 BUILD_STRING             3
             12 RETURN_VALUE

In [132]:
hello('world')

'Hello, world!'

In [133]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [134]:
# positional argument

# parameter: name
# argument: 'world'

hello('world')

'Hello, world!'

In [135]:
def hello(first, last):
    return f'Hello, {first} {last}'

# parameter: first last
# argument:   'a'   'b'

hello('a', 'b')

'Hello, a b'

In [137]:
# keyword arguments
# these always look like: name=value

# parameters:  first    last
# arguments:   'a'       'b'

hello(first='a', last='b')

'Hello, a b'

In [138]:
hello(last='a', first='b')

'Hello, b a'

In [140]:
# all positional arguments must come before all keyword arguments

# parameters: first  last
# arguments:   'a'    'b'

hello('a', last='b')

'Hello, a b'

In [141]:
hello(first='a', 'b')

SyntaxError: positional argument follows keyword argument (2092144063.py, line 1)

In [142]:
def hello():
    print('Hello!')

In [143]:
hello('world')

TypeError: hello() takes 0 positional arguments but 1 was given

In [144]:
hello.__code__.co_argcount

0

In [145]:
def hello(name):
    return f'Hello, {name}!'

In [146]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [147]:
hello.__code__.co_argcount

1

In [148]:
hello.__code__.co_varnames

('name',)

In [149]:
# regular parameter -- can take either positional or keyword args
def hello(name):
    return f'Hello, {name}!'

In [150]:
hello('a')

'Hello, a!'

In [151]:
hello(name='a')

'Hello, a!'

In [152]:
hello(5)

'Hello, 5!'

In [153]:
hello([10, 20, 30])

'Hello, [10, 20, 30]!'

In [154]:
hello(hello)

'Hello, <function hello at 0x10e9e45e0>!'

In [155]:
# parameter type #2: regular parameter with a default argument value

def hello(name='whoever'):
    return f'Hello, {name}!'

In [157]:
# parameters: name
# arguments: 'world'

hello('world')

'Hello, world!'

In [160]:
# parameters: name
# arguments:  'whoever'

hello()

'Hello, whoever!'

In [158]:
hello.__code__.co_argcount

1

In [159]:
hello.__defaults__

('whoever',)

In [161]:
def add(first=10, second=5):
    return first + second

In [162]:
add.__defaults__

(10, 5)

In [163]:
# parameters: first  second
# arguments:   10      5

add()

15

In [164]:
# parameters: first  second
# arguments:    10       7

add(second=7)

17

In [165]:
add.__defaults__ = (100, 200)

In [166]:
add()

300

In [169]:
def add_one(x):
    x.append(1)
    return x

mylist = [10, 20, 30]
print(id(mylist))
add_one(mylist)
print(id(mylist))

4541295552
4541295552

In [168]:
mylist

[10, 20, 30, 1]

In [170]:
def add_one(x=[]):
    x.append(1)
    return x

add_one(mylist)

[10, 20, 30, 1, 1]

In [171]:
add_one(mylist)

[10, 20, 30, 1, 1, 1]

In [172]:
mylist

[10, 20, 30, 1, 1, 1]

In [173]:
add_one()

[1]

In [174]:
add_one()

[1, 1]

In [175]:
add_one()

[1, 1, 1]

In [176]:
def add_one(x=[]):
    x.append(1)
    return x

add_one.__defaults__

([],)

In [177]:
# parameters:   x
# arguments:   []

add_one()

[1]

In [179]:
add_one.__defaults__

([1],)

In [180]:
def add_one(x=None):
    if x is None:
        x = []
    
    x.append(1)
    return x

# Parameter types

1. Mandatory parameters -- either positional or keyword
2. Optional parameters (with default) -- either positional or keyword

In [184]:
def myfunc(a=1, b):
    pass   # do nothing, but let the program run

SyntaxError: parameter without a default follows parameter with a default (2687410060.py, line 1)

In [185]:
s = 'a b c d e'
s.split(' ')

['a', 'b', 'c', 'd', 'e']

In [186]:
s.split()

['a', 'b', 'c', 'd', 'e']

In [187]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \n \r \t \f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [188]:
s.split(maxsplit=3)

['a', 'b', 'c', 'd e']

In [189]:
def mysum(numbers):
    total = 0

    for one_number in numbers:
        total += one_number

    return total

In [190]:
mysum([10, 20, 30])

60

In [191]:
# right now, numbers has to be a list/tuple of numbers
# what if I want to get separate numeric arguments?

mysum(10, 20, 30)

TypeError: mysum() takes 1 positional argument but 3 were given

In [192]:
def mysum(a=0, b=0, c=0, d=0, e=0, f=0, g=0):
    return a + b + c + d + e + f + g

In [193]:
# We can define a parameter named *args
# the parameter can be called anything (but args is traditional)
# args will be a tuple

# its values will be all of the positional arguments that weren't grabbed by other parameters

def mysum(*numbers):   # splat
    total = 0
    for one_number in numbers:
        total += one_number
    return total

mysum(10, 20, 30)

60

In [194]:
mysum(a=10, b=20)

TypeError: mysum() got an unexpected keyword argument 'a'

In [195]:
mysum(numbers=[10, 20, 30])

TypeError: mysum() got an unexpected keyword argument 'numbers'

In [198]:
def myfunc(a, b, *args):
    return f'{a=}, {b=}, {args=}'

In [199]:
myfunc(10, 20, 30, 40, 50)

'a=10, b=20, args=(30, 40, 50)'

In [200]:
myfunc(10, 20)

'a=10, b=20, args=()'

In [201]:
print('a', 'b', 'c', 'd')

a b c d

In [202]:
print('a', 'b', 'c', 'd', sep='*')

a*b*c*d

In [203]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

# Parameter types

1. Mandatory parameters -- either positional or keyword
2. Optional parameters (with default) -- either positional or keyword
3. `*args`, with all unclaimed positional arguments

# Exercise: `all_lines`

Write a function, `all_lines`, that takes:
    - `outfilename`, a string with the name of the file to which we will write
    - One or more additional filenames, that we'll take for our input

All of the lines from the input files (in order) should be printed to the output file.

If you want, number the files and lines.

In [ ]:
def all_lines(outfilename, *infilenames):
    for one_infilename in infilenames: